In [1]:
import sqlalchemy as db
import pandas as pd
from sqlalchemy import Column, Integer, Text, ForeignKey,String,Table
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from datetime import datetime

In [2]:
engine = db.create_engine('postgresql://postgres:password@localhost:5432/postgres')
connection = engine.connect()
meta = db.MetaData(connection)
Base = declarative_base()
Session = sessionmaker(bind = engine)
session = Session()

/Users/mac/opt/anaconda3/envs/examScheduling/lib/python3.5/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
association_table = Table('exam_student', Base.metadata,
    Column('id',db.Integer, primary_key=True),
    Column('exam_id', Integer, ForeignKey('exam.id')),
    Column('student_id', Integer, ForeignKey('student.id'))
)

association_two = Table('exam_period', Base.metadata,
    Column('id',db.Integer, primary_key=True),
    Column('exam_id', Integer, ForeignKey('exam.id')),
    Column('period_id', Integer, ForeignKey('period.id'))
)

association_three = Table('exam_room', Base.metadata,
    Column('id',db.Integer, primary_key=True),
    Column('exam_id', Integer, ForeignKey('exam.id')),
    Column('room_id', Integer, ForeignKey('room.id'))
)

class Exam(Base):
   __tablename__ = 'exam'

   id = Column(Integer, primary_key = True)
   duration = Column(Integer)
#    students = relationship('Student', secondary = 'link')
#    periods = relationship("Period",secondary ='link')

   students = relationship(
    "Student",
    secondary=association_table,
    back_populates="exams")
   periods = relationship(
    "Period",
    secondary=association_two,
    back_populates="exams")
   rooms = relationship(
    "Room",
    secondary=association_three,
    back_populates="exams")


    
class Student(Base):
    __tablename__ = 'student'

    id = Column(Integer, primary_key = True)
    #    examid = Column(Integer, ForeignKey('exams.id'))
    number = Column(Integer)
    #    exams = relationship(Exam,secondary='link')
    exams = relationship(
        "Exam",
        secondary=association_table,
        back_populates="students")


class Room(Base):
   __tablename__ = 'room'
   
   id = Column(Integer, primary_key = True)
   capacity = Column(Integer)
   penalty = Column(Integer)
   exams = relationship(
        "Exam",
        secondary=association_three,
        back_populates="rooms")


class Period(Base):
    __tablename__ = 'period'
    id = Column(Integer, primary_key = True)
    date = Column(String)
    time = Column(String)
    duration = Column(Integer)
    penalty = Column(Integer)
    exams = relationship(
        "Exam",
        secondary=association_two,
        back_populates="periods")

# class Link(Base):
#     __tablename__ = 'link'
    
#     id = Column(db.Integer, primary_key=True)
#     exam_id = Column(
#         Integer, 
#         ForeignKey('exam.id'))

#     student_id = Column(
#         Integer, 
#         ForeignKey('student.id'))
    
# class PeriodLink(Base):
#     __tablename__ = 'periodlink'
    
#     id = Column(db.Integer, primary_key=True)
#     period_id = Column(
#         Integer, 
#         ForeignKey('period.id'))

#     exam_id = Column(
#         Integer, 
#         ForeignKey('exam.id'))

# Exam.period = relationship("Period", order_by = Period.id, back_populates = "exam")

In [4]:
Base.metadata.create_all(engine)

In [5]:
class Constraint:
    def __init__(self,ctype,name,periods):
        self.ctype = ctype
        self.name = name
        self.periods = periods

In [6]:
roomRows = []
sample_one ="./itc2007_dataset/exam_comp_set1.exam"
with open("test.exam") as f:
     for line in f:
        if "Exams" in line:
            line = f.readline()
            lineType = "Exams"
        if "Periods" in line:
            line = f.readline()
            lineType = "Periods"
        if "Rooms" in line:
            line = f.readline()
            lineType = "Rooms"
        if "PeriodHardConstraints" in line:
            lineType = "PeriodHardConstraints"
            line = f.readline()
        if "RoomHardConstraints" in line:
            line = f.readline()
            lineType = "RoomHardConstraints"
        if "InstitutionalWeightings" in line:
            line = f.readline()
            lineType = "InstitutionalWeightings"
            
        if(lineType == 'Rooms'):
            arr = line.split(',')
            r1 = Room(capacity = arr[0],penalty = arr[1])
            roomRows.append(r1)
        
session.add_all(roomRows)
session.commit()

In [7]:
examRows =[]
periodRows = []
studentRows = []
# roomRows = []
students = []
constraints = []
examcount = 0
periodcount = 0
roomcount = 0
lineType = ""
sample_one ="./itc2007_dataset/exam_comp_set1.exam"
with open("test.exam") as f:
     for line in f:
        if "Exams" in line:
            line = f.readline()
            lineType = "Exams"
        if "Periods" in line:
            line = f.readline()
            lineType = "Periods"
        if "Rooms" in line:
            line = f.readline()
            lineType = "Rooms"
        if "PeriodHardConstraints" in line:
            lineType = "PeriodHardConstraints"
            line = f.readline()
        if "RoomHardConstraints" in line:
            line = f.readline()
            lineType = "RoomHardConstraints"
        if "InstitutionalWeightings" in line:
            line = f.readline()
            lineType = "InstitutionalWeightings"
        
        
        if(lineType == 'Periods'):
            arr = line.split(',')
            p1 = Period(date = arr[0],time = arr[1],duration = arr[2],penalty = arr[3])
#             p1.exams.append(examRows[0])
#             p1.exams.append(examRows[1])
            periodRows.append(p1)
            periodRows[periodcount].exams.append(examRows[periodcount])
            periodcount += 1
            
#         if(lineType == 'Rooms'):
#             arr = line.split(',')
#             r1 = Room(capacity = arr[0],penalty = arr[1])
#             roomRows.append(r1)
#             roomRows[roomcount].exams.append(examRows[roomcount])
#             roomcount += 1
        
        if(lineType == 'PeriodHardConstraints'):
            arr = line.split(',')
            print("period",arr)
            c1 = Constraint("period",arr[1].strip(),arr[1:2])
            constraints.append(c1)

        if(lineType == 'RoomHardConstraints'):
            arr = line.split(',')
            print("room",arr)
            if len(arr) > 1 :
                c1 = Constraint("room",arr[1],arr[0].strip())
                constraints.append(c1)
            else:
                c1 = Constraint("room",arr[0].strip(),None)
                constraints.append(c1)
            
            
            
        if(lineType == 'Exams'):
            arr = line.split(',')
            examRows.append(Exam(duration = int(arr[0])))
            examRows[examcount].rooms.append(roomRows[0])
        
            for no in arr[1:]:
                no = no.strip()
                no = int(no)
                if no not in students:
                    students.append(int(no))
                    tempStudent = Student(number = int(no))
                    studentRows.append(tempStudent)
                if no in students:
                    studentRows[students.index(no)].exams.append(examRows[examcount])
#                     examRows[examcount].students.append(studentRows[students.index(no)])
            examcount += 1
        
session.add_all(examRows)
session.add_all(studentRows)
session.add_all(periodRows)
session.add_all(roomRows)
session.commit()

period ['2', ' EXAM_COINCIDENCE', ' 3\n']
period ['1', ' EXCLUSION', ' 5\n']
period ['0', ' AFTER', ' 9\n']
room ['9', ' ROOM_EXCLUSIVE\n']

In [ ]:
# for x in session.query( Exam, Student).filter(Link.student_id == Student.id, 
#    Link.exam_id == Exam.id).order_by(Link.exam_id).all():
#    print ("Exam: {} Student: {}".format(x.Exam.duration, x.Student.number))

In [ ]:
# SELECT Count(student_id) as amount from link where student_id =1;

# select student_id, Count(student_id) as amount from link group by student_id order by amount desc;

# select exam_id, Count(exam_id) as amount from link group by exam_id order by amount desc;

In [ ]:
#check hard constraints:
    #2, EXAM_COINCIDENCE, 3
    #exam 2 and 3 should be in the same period:
    
    #select count(distinct period_id) as periods from  (select period_id from exam_period where exam_id=1 or exam_id = 2) T;
    # if returned value is higher than 1 then constraint is violated
    
    #1, EXCLUSION, 5
    #exam 1 and 5 should not be in the same period:
    
    #select count(distinct period_id) as periods from  (select period_id from exam_period where exam_id=1 or exam_id = 2) T;
    #if returned value is less than 2 then constraint is violated
    
    #0, AFTER, 9
    # 0 should be timetabled after 9 
    
    #select exam_id, period_date from (select exam_id, date as period_date from exam_period inner join period on exam_period.period_id = period.id) as T where exam_id = 1 or exam_id = 2 order by exam_id;
    
    #if the first returned value is greate than the second the constraint is violated
    
    
    #9, ROOM_EXCLUSIVE
    # exam 9 should be the only exam scheduled in a room

    # select count(distinct exam_id) from exam_room  where room_id = (select room_id from exam_room where exam_id = 1);
    
    #if count returned is greater than 1 the constraint is violated

In [ ]:
#Like other areas of timetabling, a feasible solution is one in which all hard constraints are satisfied.
# The quality of the solution is measures in terms of soft constraints satisfaction.

In [51]:
def isCurrentStateFeasible():
    dates = []
    violationCount = 0
    for constraint in constraints:
        if(constraint.name == "EXAM_COINCIDENCE"):
            sql_query = db.text("SELECT COUNT(DISTINCT period_id) as periods from  (SELECT period_id FROM exam_period WHERE exam_id=:idOne OR exam_id =:idTwo) T")
            result = connection.execute(sql_query, idOne = 1,idTwo = 2)
            for r in result:
#                 print(r[0])
                if(r[0] > 1):
                    violationCount += 1;
        if(constraint.name == "EXCLUSION"):
            sql_query = db.text("SELECT COUNT(DISTINCT period_id) as periods from  (SELECT period_id FROM exam_period WHERE exam_id=:idOne OR exam_id =:idTwo) T")
            result = connection.execute(sql_query, idOne = 1,idTwo = 2)
            for r in result:
#                 print(r[0])
                if(r[0] < 2):
                    violationCount += 1;
        if(constraint.name == "AFTER"):
            sql_query = db.text("SELECT exam_id, period_date, period_time FROM (SELECT exam_id, date AS period_date, time as period_time FROM exam_period INNER JOIN period ON exam_period.period_id = period.id) AS T WHERE exam_id =:idOne OR exam_id =:idTwo ORDER BY exam_id")
            result = connection.execute(sql_query, idOne = 1,idTwo = 3)
            for r in result:
                dateTime = r["period_date"] + r["period_time"]
#                 print(dateTime)
                dates.append(datetime.strptime(dateTime,'%d:%m:%Y %H:%M:%S'))
                
            if(dates[0] < dates[1]):
                violationCount += 1;
            result_as_list = result.fetchall()
        if(constraint.name.strip() == "ROOM_EXCLUSIVE"):
            sql_query = db.text("SELECT COUNT(DISTINCT exam_id) as exam_count FROM exam_room  WHERE room_id = (SELECT room_id FROM exam_room WHERE exam_id =:examId)")
            result = connection.execute(sql_query, examId = 1)
            for r in result:
#                 print(r["exam_count"])
                if(r["exam_count"] > 1):
                    violationCount += 1;

            
    return violationCount;

In [53]:
violationCount = isCurrentStateFeasible()
if(violationCount == 0):
    print("exam schedule meets hard constraints")
else:
    print(violationCount, "hard constraints have been violated")

3 hard constraints have been violated

In [95]:
def getCurrentExamSchedule(connection):
    sql_query = db.text("SELECT exam_id, period_id, room_id FROM tempGen")
    result = connection.execute(sql_query)
    df = pd.read_sql(sql_query,connection)
    return df

In [96]:
current_solution = getCurrentExamSchedule(connection)
current_solution

   exam_id  period_id  room_id
0        2          2        1
1        5          5        1
2        3          3        1
3        4          4        1
4        1          4        1
5        6          1        1

In [84]:
def generateSolution():
    view_query = db.text("CREATE OR REPLACE VIEW tempGen AS SELECT exam_period.exam_id, period_id, exam_room.room_id FROM exam_room INNER JOIN exam_period ON exam_room.exam_id = exam_period.exam_id ORDER BY random()");
    connection.execute(view_query)
    sql_query = db.text("SELECT * FROM tempGen")
    result = connection.execute(sql_query)
    df = pd.read_sql(sql_query,connection)
    return df

In [88]:
df = generateSolution()
df

   exam_id  period_id  room_id
0        3          3        1
1        5          5        1
2        1          4        1
3        2          2        1
4        4          4        1
5        6          1        1

In [ ]:
getCurrentExamSchedule() 
best_score = isCurrentStateFeasible()

# Hill-climbing

In [ ]:
iteration = 0
while True:
    print('Best score so far', best_score, 'Solution', "".join(best)) 
    print("iteartion:",iteration)
    if best_score == 0: 
        break

    generateSolution() 

    score = evaluate() 
    if score < best_score: 
        best = new_solution 
        best_score = score
    clear_output(wait=True)
    iteration += 1