In [1]:
import sqlalchemy as db
import pandas as pd
from sqlalchemy import Column, Integer, Text, ForeignKey,String,Table, DateTime
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from datetime import datetime
import random

In [2]:
engine = db.create_engine('postgresql://postgres:password@localhost:5432/postgres')
connection = engine.connect()
meta = db.MetaData(connection)
Base = declarative_base()
Session = sessionmaker(bind = engine)
session = Session()

/Users/mac/opt/anaconda3/envs/examScheduling/lib/python3.5/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
association_table = Table('exam_student', Base.metadata,
    Column('id',db.Integer, primary_key=True),
    Column('exam_id', Integer, ForeignKey('exam.id',ondelete="cascade")),
    Column('student_id', Integer, ForeignKey('student.id',ondelete="cascade"))
)

association_two = Table('exam_period', Base.metadata,
    Column('id',db.Integer, primary_key=True),
    Column('exam_id', Integer, ForeignKey('exam.id',ondelete="cascade")),
    Column('period_id', Integer, ForeignKey('period.id',ondelete="cascade"))
)

association_three = Table('exam_room', Base.metadata,
    Column('id',db.Integer, primary_key=True),
    Column('exam_id', Integer, ForeignKey('exam.id',ondelete="cascade")),
    Column('room_id', Integer, ForeignKey('room.id',ondelete="cascade"))
)

class Exam(Base):
    __tablename__ = 'exam'

    id = Column(Integer, primary_key = True)
    duration = Column(Integer)
    students = relationship(
    "Student",
    secondary=association_table,
    back_populates="exams",
    cascade="all, delete", passive_deletes=True)
    periods = relationship(
    "Period",
    secondary=association_two,
    back_populates="exams",
    cascade="all, delete", passive_deletes=True)
    rooms = relationship(
    "Room",
    secondary=association_three,
    back_populates="exams",
    cascade="all, delete", passive_deletes=True)


    
class Student(Base):
    __tablename__ = 'student'

    id = Column(Integer, primary_key = True)
    #    examid = Column(Integer, ForeignKey('exams.id'))
    number = Column(Integer)
    #    exams = relationship(Exam,secondary='link')
    exams = relationship(
        "Exam",
        secondary=association_table,
        back_populates="students",
        cascade="all, delete", passive_deletes=True)


class Room(Base):
   __tablename__ = 'room'
   
   id = Column(Integer, primary_key = True)
   capacity = Column(Integer)
   penalty = Column(Integer)
   exams = relationship(
        "Exam",
        secondary=association_three,
        back_populates="rooms",
        cascade="all, delete", passive_deletes=True)


class Period(Base):
    __tablename__ = 'period'
    id = Column(Integer, primary_key = True)
    time = Column(DateTime)
    duration = Column(Integer)
    penalty = Column(Integer)
    exams = relationship(
        "Exam",
        secondary=association_two,
        back_populates="periods",
        cascade="all, delete", passive_deletes=True)

In [4]:
Base.metadata.create_all(engine)

In [5]:
# session.query(Room).delete()
# session.commit()

In [6]:
class Constraint:
    def __init__(self,ctype,name,periods):
        self.ctype = ctype
        self.name = name
        self.periods = periods

In [7]:
class SoftConstraint:
    def __init__(self,name,params):
        self.name = name
        self.params = params

In [8]:
roomRows = []
test = "test.exam"
sample_one ="./itc2007_dataset/exam_comp_set1.exam"
sample_two = "./itc2007_dataset/exam_comp_set3.exam"
with open(test) as f:
     for line in f:
        if "Exams" in line:
            line = f.readline()
            lineType = "Exams"
        if "Periods" in line:
            line = f.readline()
            lineType = "Periods"
        if "Rooms" in line:
            line = f.readline()
            lineType = "Rooms"
        if "PeriodHardConstraints" in line:
            lineType = "PeriodHardConstraints"
            line = f.readline()
        if "RoomHardConstraints" in line:
            line = f.readline()
            lineType = "RoomHardConstraints"
        if "InstitutionalWeightings" in line:
            line = f.readline()
            lineType = "InstitutionalWeightings"
            
        if(lineType == 'Rooms'):
            arr = line.split(',')
            r1 = Room(capacity = arr[0],penalty = arr[1])
            roomRows.append(r1)
        
session.add_all(roomRows)
session.commit()

In [9]:
examRows =[]
periodRows = []
studentRows = []
# roomRows = []
students = []
constraints = []
softconstraints =[]
examcount = 0
periodcount = 0
roomcount = 0
lineType = ""
with open(test) as f:
     for line in f:
        if "Exams" in line:
            line = f.readline()
            lineType = "Exams"
        if "Periods" in line:
            line = f.readline()
            lineType = "Periods"
        if "Rooms" in line:
            line = f.readline()
            lineType = "Rooms"
        if "PeriodHardConstraints" in line:
            lineType = "PeriodHardConstraints"
            line = f.readline()
        if "RoomHardConstraints" in line:
            line = f.readline()
            lineType = "RoomHardConstraints"
        if "InstitutionalWeightings" in line:
            line = f.readline()
            lineType = "InstitutionalWeightings"
        
        
        if(lineType == 'Periods'):
            arr = line.split(',')
            dateTime = arr[0] + arr[1]
            p1 = Period(time = datetime.strptime(dateTime,'%d:%m:%Y %H:%M:%S'),duration = arr[2],penalty = arr[3])
            periodRows.append(p1)
        
        if(lineType == 'PeriodHardConstraints'):
            arr = line.split(',')
            print("period",arr)
            c1 = Constraint("period",name =arr[1].strip(),periods = [int(arr[0].strip()) + 1, int(arr[2].strip()) + 1])
            constraints.append(c1)

        if(lineType == 'RoomHardConstraints'):
            arr = line.split(',')
            print("room",arr)
            if len(arr) > 1 :
                c1 = Constraint("room",name = arr[1].strip(),periods = [int(arr[0].strip())+1])
                constraints.append(c1)
            else:
                c1 = Constraint("room",name = arr[0].strip(),periods = None)
                constraints.append(c1)
        if(lineType == "InstitutionalWeightings"):
            arr = [x.strip() for x in line.split(',')]
            print(arr)
            sc1 = SoftConstraint(name = arr[0],params = [int(i) for i in arr[1:]])
            softconstraints.append(sc1)
                 
        if(lineType == 'Exams'):
            arr = line.split(',')
            examRows.append(Exam(duration = int(arr[0])))
            examRows[examcount].rooms.append(roomRows[random.randint(0,len(roomRows)-1)])
        
            for no in arr[1:]:
                no = no.strip()
                no = int(no)
                if no not in students:
                    students.append(int(no))
                    tempStudent = Student(number = int(no))
                    studentRows.append(tempStudent)
                if no in students:
                    studentRows[students.index(no)].exams.append(examRows[examcount])
#                     examRows[examcount].students.append(studentRows[students.index(no)])
            examcount += 1
        
session.add_all(examRows)
session.add_all(studentRows)
session.add_all(roomRows)
session.commit()

period ['2', ' EXAM_COINCIDENCE', ' 3\n']
period ['1', ' EXCLUSION', ' 5\n']
period ['0', ' AFTER', ' 9\n']
room ['9', ' ROOM_EXCLUSIVE\n']
['TWOINAROW', '7']
['TWOINADAY', '5']
['PERIODSPREAD', '2', '20']
['PERIODSPREAD', '5', '2']
['NOMIXEDDURATIONS', '10']
['FRONTLOAD', '1', '5', '10']

In [10]:
for constraint in constraints:
    print(constraint.name, constraint.periods)

EXAM_COINCIDENCE [3, 4]
EXCLUSION [2, 6]
AFTER [1, 10]
ROOM_EXCLUSIVE [10]

In [11]:
def allocatePeriods():
    for exam in examRows:
        randomIndex = random.randint(0,len(periodRows)-1)
        exam.periods.append(periodRows[randomIndex])
        
    session.add_all(examRows)
    session.commit()

In [12]:
allocatePeriods()

In [13]:
for cons in softconstraints:
    print(cons.name)
    print(cons.params)

TWOINAROW
[7]
TWOINADAY
[5]
PERIODSPREAD
[2, 20]
PERIODSPREAD
[5, 2]
NOMIXEDDURATIONS
[10]
FRONTLOAD
[1, 5, 10]

In [ ]:
# for x in session.query( Exam, Student).filter(Link.student_id == Student.id, 
#    Link.exam_id == Exam.id).order_by(Link.exam_id).all():
#    print ("Exam: {} Student: {}".format(x.Exam.duration, x.Student.number))

In [ ]:
# SELECT Count(student_id) as amount from link where student_id =1;

# select student_id, Count(student_id) as amount from link group by student_id order by amount desc;

# select exam_id, Count(exam_id) as amount from link group by exam_id order by amount desc;

In [ ]:
#check hard constraints:
    #2, EXAM_COINCIDENCE, 3
    #exam 2 and 3 should be in the same period:
    
    #select count(distinct period_id) as periods from  (select period_id from exam_period where exam_id=1 or exam_id = 2) T;
    # if returned value is higher than 1 then constraint is violated
    
    #1, EXCLUSION, 5
    #exam 1 and 5 should not be in the same period:
    
    #select count(distinct period_id) as periods from  (select period_id from exam_period where exam_id=1 or exam_id = 2) T;
    #if returned value is less than 2 then constraint is violated
    
    #0, AFTER, 9
    # 0 should be timetabled after 9 
    
    #select exam_id, period_date from (select exam_id, date as period_date from exam_period inner join period on exam_period.period_id = period.id) as T where exam_id = 1 or exam_id = 2 order by exam_id;
    
    #if the first returned value is greate than the second the constraint is violated
    
    
    #9, ROOM_EXCLUSIVE
    # exam 9 should be the only exam scheduled in a room

    # select count(distinct exam_id) from exam_room  where room_id = (select room_id from exam_room where exam_id = 1);
    
    #if count returned is greater than 1 the constraint is violated

In [ ]:
#Like other areas of timetabling, a feasible solution is one in which all hard constraints are satisfied.
# The quality of the solution is measures in terms of soft constraints satisfaction.

In [14]:
def createCurrentSolution():
    view_query = db.text("CREATE OR REPLACE VIEW tempGen AS SELECT exam_period.exam_id, period_id, exam_room.room_id FROM exam_room INNER JOIN exam_period ON exam_room.exam_id = exam_period.exam_id")
    connection.execute(view_query)

In [15]:
createCurrentSolution()

In [16]:
violations =[]
def isCurrentStateFeasible():
    dates = []
    violationCount = 0
    for constraint in constraints:
        #2, EXAM_COINCIDENCE, 3
        #exam 2 and 3 should be in the same period:
        if(constraint.name == "EXAM_COINCIDENCE"):
            sql_query = db.text("SELECT COUNT(DISTINCT period_id) as periods from  (SELECT period_id FROM tempgen WHERE exam_id=:idOne OR exam_id =:idTwo) T")
            result = connection.execute(sql_query, idOne = constraint.periods[0],idTwo = constraint.periods[1])
            for r in result:
#                 print(r[0])
                if(r[0] > 1):
                    violationCount += 1
                    violations.append("EXAM_COINCIDENCE")
        #1, EXCLUSION, 5
        #exam 1 and 5 should not be in the same period:
        if(constraint.name == "EXCLUSION"):
            sql_query = db.text("SELECT COUNT(DISTINCT period_id) as periods from  (SELECT period_id FROM tempgen WHERE exam_id=:idOne OR exam_id =:idTwo) T")
            result = connection.execute(sql_query, idOne = constraint.periods[0],idTwo = constraint.periods[1])
            for r in result:
#                 print(r[0])
                if(r[0] < 2):
                    violationCount += 1
                    violations.append("EXCLUSION")
        #0, AFTER, 9
        # 0 should be timetabled after 9 
        if(constraint.name == "AFTER"):
            sql_query = db.text("SELECT exam_id, datetime FROM (SELECT exam_id, time as datetime FROM tempgen INNER JOIN period ON tempgen.period_id = period.id) AS T WHERE exam_id =:idOne OR exam_id =:idTwo ORDER BY exam_id")
            result = connection.execute(sql_query, idOne = constraint.periods[0],idTwo = constraint.periods[1])
            for r in result:
                dates.append(r["datetime"])
            
            print(dates)
            if(dates[0] < dates[1]):
                violationCount += 1;
            result_as_list = result.fetchall()
        #9, ROOM_EXCLUSIVE
        # exam 9 should be the only exam scheduled in a room
        if(constraint.name.strip() == "ROOM_EXCLUSIVE"):
            sql_query = db.text("SELECT COUNT(DISTINCT exam_id) as exam_count FROM tempgen WHERE room_id = (SELECT room_id FROM tempgen WHERE exam_id =1) and period_id = (SELECT period_id FROM tempgen WHERE exam_id =:examId)")
            result = connection.execute(sql_query, examId = constraint.periods[0])
            for r in result:
#                 print(r["exam_count"])
                if(r["exam_count"] > 1):
                    violationCount += 1
                    violations.append("ROOM_EXCLUSIVE")
            

            
    return violationCount;

In [17]:
violationCount = isCurrentStateFeasible()
if(violationCount == 0):
    print("exam schedule meets hard constraints")
else:
    print(violationCount, "hard constraints have been violated")

[datetime.datetime(2005, 4, 15, 14, 0), datetime.datetime(2005, 4, 15, 9, 30)]
exam schedule meets hard constraints

In [18]:
violations

[]

In [19]:
def getCurrentExamSchedule(connection):
    sql_query = db.text("SELECT exam_id, period_id, room_id FROM tempGen order by exam_id")
    result = connection.execute(sql_query)
    df = pd.read_sql(sql_query,connection)
    return df

In [20]:
current_solution = getCurrentExamSchedule(connection)
current_solution.head()

   exam_id  period_id  room_id
0        1          1        2
1        2          2        2
2        3          3        2
3        4          3        1
4        5          1        1

In [21]:
def getCurrentScore():
    runningScore = 0
    for cons in softconstraints:
        if(cons.name == "TWOINAROW"):
            sql_query = db.text("select Count(student_id) as studentCount from ( select prev_exam, time, elapsed_time, exam_id from ( select time, elapsed_time, exam_id, lag(exam_id) over ( order by exam_id) prev_exam from ( select exam_id, time, time - lag(time) over ( order by time) elapsed_time from ( select exam_id, time from tempgen inner join period on tempgen.period_id = period.id) T order by time asc) T ) T where elapsed_time between '60 MINUTES' and '90 MINUTES') as exams inner join exam_student on exams.exam_id = exam_student.exam_id and exam_student.exam_id = exams.prev_exam")
            studentCount = connection.execute(sql_query).fetchone()[0]
            runningScore += studentCount * cons.params[0]
        if(cons.name == "TWOINADAY"):
            sql_query = db.text("select Count(student_id) as studentCount from ( select prev_exam, time, elapsed_time, exam_id from ( select time, elapsed_time, exam_id, lag(exam_id) over ( order by exam_id) prev_exam from ( select exam_id, time, time - lag(time) over ( order by time) elapsed_time from ( select exam_id, time from tempgen inner join period on tempgen.period_id = period.id) T order by time asc) T ) T where elapsed_time between '1 DAYS' and '2 DAYS') as exams inner join exam_student on exams.exam_id = exam_student.exam_id and exam_student.exam_id = exams.prev_exam")
            studentCount = connection.execute(sql_query).first()[0]
            runningScore += studentCount * cons.params[0]
        if(cons.name == "NOMIXEDDURATIONS"):
            sql_query = db.text("select sum(durations) as totalMixed from (SELECT period_id, count(distinct duration) as durations FROM ( select period_id, exam_id, duration, room_id from ( select tempgen.exam_id, tempgen.room_id, period_id from tempgen inner join exam_room on tempgen.exam_id = exam_room.exam_id order by period_id) as examrooms inner join exam on examrooms.exam_id = exam.id) T GROUP BY period_id HAVING COUNT(DISTINCT duration) > 1) T");
            mixedCount = connection.execute(sql_query).fetchone()[0]
            runningScore += mixedCount * cons.params[0]
        
    return runningScore
    
    

# if(cons.name == "PERIODSPREAD"):         
#         if(cons.name == "FRONTLOAD"):
            
  
        
        
# TWOINAROW
# [7]
# TWOINADAY
# [5]
# PERIODSPREAD
# [2, 20]
# PERIODSPREAD
# [5, 2]
# NOMIXEDDURATIONS
# [10]
# FRONTLOAD
# [1, 5, 10]

In [22]:
print(getCurrentScore())

40

In [23]:
def generateSolution():
    view_query = db.text("CREATE OR REPLACE VIEW tempGen AS SELECT exam_period.exam_id, period_id, exam_room.room_id FROM exam_room INNER JOIN exam_period ON exam_room.exam_id = exam_period.exam_id ORDER BY exam_id");
    connection.execute(view_query)
    sql_query = db.text("SELECT * FROM tempGen")
    result = connection.execute(sql_query)
    df = pd.read_sql(sql_query,connection)
    return df

In [24]:
df = generateSolution()
print( "violation count:",isCurrentStateFeasible())
df.head()

[datetime.datetime(2005, 4, 15, 14, 0), datetime.datetime(2005, 4, 15, 9, 30)]
violation count: 0

   exam_id  period_id  room_id
0        1          1        2
1        2          2        2
2        3          3        2
3        4          3        1
4        5          1        1

In [ ]:
exams_with_most_students =[]
earliest_periods = []
sql_query = db.text("select exam_id,duration,count from (select exam_id, count(student_id), duration from exam_student  inner join exam on exam_student.exam_id  = exam.id group by exam_id, duration) T order by count desc")
results = connection.execute(sql_query).fetchall()
for res in results:
      exams_with_most_students.append(res[0])
    
sql_query = db.text("select * from period order by time asc")
results = connection.execute(sql_query).fetchall()

for res in results:
    earliest_periods.append(res[0])
    
    
print("periods:", earliest_periods)
print("exams with most students:", exams_with_most_students)


#this low level heurisitic assigns the periods that occur the first to exams with the most students
periodIndex = 0
for examId in exams_with_most_students:
    print(earliest_periods[periodIndex])
    periodId = earliest_periods[periodIndex]
    sql_query = db.text("update exam_period  set period_id = :periodId  where exam_id = :examId")
    result = connection.execute(sql_query, periodId = periodId,examId = examId)
    periodIndex += 1
  
    if (periodIndex +1 > len(earliest_periods)):
        print("setting back to zero")
        periodIndex = 0

In [ ]:
getCurrentExamSchedule() 
best_score = isCurrentStateFeasible()

# Hill-climbing

In [ ]:
iteration = 0
while True:
    print('Best score so far', best_score, 'Solution', "".join(best)) 
    print("iteartion:",iteration)
    if best_score == 0: 
        break

    generateSolution() 

    score = evaluate() 
    if score < best_score: 
        best = new_solution 
        best_score = score
    clear_output(wait=True)
    iteration += 1