In [1]:
import sqlalchemy as db
import pandas as pd
from sqlalchemy import Column, Integer, Text, ForeignKey,String,Table, DateTime
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from datetime import datetime
import random

In [2]:
engine = db.create_engine('postgresql://postgres:password@localhost:5432/postgres')
connection = engine.connect()
meta = db.MetaData(connection)
Base = declarative_base()
Session = sessionmaker(bind = engine)
session = Session()

/Users/mac/opt/anaconda3/envs/examScheduling/lib/python3.5/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
association_table = Table('exam_student', Base.metadata,
    Column('id',db.Integer, primary_key=True),
    Column('exam_id', Integer, ForeignKey('exam.id')),
    Column('student_id', Integer, ForeignKey('student.id'))
)

association_two = Table('exam_period', Base.metadata,
    Column('id',db.Integer, primary_key=True),
    Column('exam_id', Integer, ForeignKey('exam.id')),
    Column('period_id', Integer, ForeignKey('period.id'))
)

association_three = Table('exam_room', Base.metadata,
    Column('id',db.Integer, primary_key=True),
    Column('exam_id', Integer, ForeignKey('exam.id')),
    Column('room_id', Integer, ForeignKey('room.id'))
)

class Exam(Base):
   __tablename__ = 'exam'

   id = Column(Integer, primary_key = True)
   duration = Column(Integer)
#    students = relationship('Student', secondary = 'link')
#    periods = relationship("Period",secondary ='link')

   students = relationship(
    "Student",
    secondary=association_table,
    back_populates="exams")
   periods = relationship(
    "Period",
    secondary=association_two,
    back_populates="exams")
   rooms = relationship(
    "Room",
    secondary=association_three,
    back_populates="exams")


    
class Student(Base):
    __tablename__ = 'student'

    id = Column(Integer, primary_key = True)
    #    examid = Column(Integer, ForeignKey('exams.id'))
    number = Column(Integer)
    #    exams = relationship(Exam,secondary='link')
    exams = relationship(
        "Exam",
        secondary=association_table,
        back_populates="students")


class Room(Base):
   __tablename__ = 'room'
   
   id = Column(Integer, primary_key = True)
   capacity = Column(Integer)
   penalty = Column(Integer)
   exams = relationship(
        "Exam",
        secondary=association_three,
        back_populates="rooms")


class Period(Base):
    __tablename__ = 'period'
    id = Column(Integer, primary_key = True)
    time = Column(DateTime)
    duration = Column(Integer)
    penalty = Column(Integer)
    exams = relationship(
        "Exam",
        secondary=association_two,
        back_populates="periods")

In [4]:
Base.metadata.create_all(engine)

In [5]:
class Constraint:
    def __init__(self,ctype,name,periods):
        self.ctype = ctype
        self.name = name
        self.periods = periods

In [6]:
roomRows = []
sample_one ="./itc2007_dataset/exam_comp_set1.exam"
sample_two = "./itc2007_dataset/exam_comp_set3.exam"
with open(sample_two) as f:
     for line in f:
        if "Exams" in line:
            line = f.readline()
            lineType = "Exams"
        if "Periods" in line:
            line = f.readline()
            lineType = "Periods"
        if "Rooms" in line:
            line = f.readline()
            lineType = "Rooms"
        if "PeriodHardConstraints" in line:
            lineType = "PeriodHardConstraints"
            line = f.readline()
        if "RoomHardConstraints" in line:
            line = f.readline()
            lineType = "RoomHardConstraints"
        if "InstitutionalWeightings" in line:
            line = f.readline()
            lineType = "InstitutionalWeightings"
            
        if(lineType == 'Rooms'):
            arr = line.split(',')
            r1 = Room(capacity = arr[0],penalty = arr[1])
            roomRows.append(r1)
        
session.add_all(roomRows)
session.commit()

In [7]:
examRows =[]
periodRows = []
studentRows = []
# roomRows = []
students = []
constraints = []
examcount = 0
periodcount = 0
roomcount = 0
lineType = ""
with open(sample_two) as f:
     for line in f:
        if "Exams" in line:
            line = f.readline()
            lineType = "Exams"
        if "Periods" in line:
            line = f.readline()
            lineType = "Periods"
        if "Rooms" in line:
            line = f.readline()
            lineType = "Rooms"
        if "PeriodHardConstraints" in line:
            lineType = "PeriodHardConstraints"
            line = f.readline()
        if "RoomHardConstraints" in line:
            line = f.readline()
            lineType = "RoomHardConstraints"
        if "InstitutionalWeightings" in line:
            line = f.readline()
            lineType = "InstitutionalWeightings"
        
        
        if(lineType == 'Periods'):
            arr = line.split(',')
            dateTime = arr[0] + arr[1]
            p1 = Period(time = datetime.strptime(dateTime,'%d:%m:%Y %H:%M:%S'),duration = arr[2],penalty = arr[3])
            periodRows.append(p1)
        
        if(lineType == 'PeriodHardConstraints'):
            arr = line.split(',')
            print("period",arr)
            c1 = Constraint("period",arr[1].strip(),arr[1:2])
            constraints.append(c1)

        if(lineType == 'RoomHardConstraints'):
            arr = line.split(',')
            print("room",arr)
            if len(arr) > 1 :
                c1 = Constraint("room",arr[1],arr[0].strip())
                constraints.append(c1)
            else:
                c1 = Constraint("room",arr[0].strip(),None)
                constraints.append(c1)
            
            
            
        if(lineType == 'Exams'):
            arr = line.split(',')
            examRows.append(Exam(duration = int(arr[0])))
            examRows[examcount].rooms.append(roomRows[random.randint(0,len(roomRows)-1)])
        
            for no in arr[1:]:
                no = no.strip()
                no = int(no)
                if no not in students:
                    students.append(int(no))
                    tempStudent = Student(number = int(no))
                    studentRows.append(tempStudent)
                if no in students:
                    studentRows[students.index(no)].exams.append(examRows[examcount])
#                     examRows[examcount].students.append(studentRows[students.index(no)])
            examcount += 1
        
session.add_all(examRows)
session.add_all(studentRows)
session.add_all(roomRows)
session.commit()

period ['11', ' AFTER', ' 10\n']
period ['26', ' AFTER', ' 25\n']
period ['98', ' AFTER', ' 97\n']
period ['165', ' AFTER', ' 164\n']
period ['418', ' AFTER', ' 417\n']
period ['425', ' EXAM_COINCIDENCE', ' 426\n']
period ['100', ' EXCLUSION', ' 120\n']
period ['495', ' AFTER', ' 494\n']
period ['496', ' AFTER', ' 495\n']
period ['529', ' EXAM_COINCIDENCE', ' 528\n']
period ['555', ' AFTER', ' 554\n']
period ['601', ' AFTER', ' 600\n']

In [8]:
def allocatePeriods():
    for exam in examRows:
        randomIndex = random.randint(0,len(periodRows)-1)
        exam.periods.append(periodRows[randomIndex])
        
    session.add_all(examRows)
    session.commit()

In [9]:
allocatePeriods()

In [ ]:
# for x in session.query( Exam, Student).filter(Link.student_id == Student.id, 
#    Link.exam_id == Exam.id).order_by(Link.exam_id).all():
#    print ("Exam: {} Student: {}".format(x.Exam.duration, x.Student.number))

In [ ]:
# SELECT Count(student_id) as amount from link where student_id =1;

# select student_id, Count(student_id) as amount from link group by student_id order by amount desc;

# select exam_id, Count(exam_id) as amount from link group by exam_id order by amount desc;

In [ ]:
#check hard constraints:
    #2, EXAM_COINCIDENCE, 3
    #exam 2 and 3 should be in the same period:
    
    #select count(distinct period_id) as periods from  (select period_id from exam_period where exam_id=1 or exam_id = 2) T;
    # if returned value is higher than 1 then constraint is violated
    
    #1, EXCLUSION, 5
    #exam 1 and 5 should not be in the same period:
    
    #select count(distinct period_id) as periods from  (select period_id from exam_period where exam_id=1 or exam_id = 2) T;
    #if returned value is less than 2 then constraint is violated
    
    #0, AFTER, 9
    # 0 should be timetabled after 9 
    
    #select exam_id, period_date from (select exam_id, date as period_date from exam_period inner join period on exam_period.period_id = period.id) as T where exam_id = 1 or exam_id = 2 order by exam_id;
    
    #if the first returned value is greate than the second the constraint is violated
    
    
    #9, ROOM_EXCLUSIVE
    # exam 9 should be the only exam scheduled in a room

    # select count(distinct exam_id) from exam_room  where room_id = (select room_id from exam_room where exam_id = 1);
    
    #if count returned is greater than 1 the constraint is violated

In [ ]:
#Like other areas of timetabling, a feasible solution is one in which all hard constraints are satisfied.
# The quality of the solution is measures in terms of soft constraints satisfaction.

In [10]:
def isCurrentStateFeasible():
    dates = []
    violationCount = 0
    for constraint in constraints:
        if(constraint.name == "EXAM_COINCIDENCE"):
            sql_query = db.text("SELECT COUNT(DISTINCT period_id) as periods from  (SELECT period_id FROM exam_period WHERE exam_id=:idOne OR exam_id =:idTwo) T")
            result = connection.execute(sql_query, idOne = 1,idTwo = 2)
            for r in result:
#                 print(r[0])
                if(r[0] > 1):
                    violationCount += 1;
        if(constraint.name == "EXCLUSION"):
            sql_query = db.text("SELECT COUNT(DISTINCT period_id) as periods from  (SELECT period_id FROM exam_period WHERE exam_id=:idOne OR exam_id =:idTwo) T")
            result = connection.execute(sql_query, idOne = 1,idTwo = 2)
            for r in result:
#                 print(r[0])
                if(r[0] < 2):
                    violationCount += 1;
        if(constraint.name == "AFTER"):
            sql_query = db.text("SELECT exam_id, datetime FROM (SELECT exam_id, time as datetime FROM exam_period INNER JOIN period ON exam_period.period_id = period.id) AS T WHERE exam_id =:idOne OR exam_id =:idTwo ORDER BY exam_id")
            result = connection.execute(sql_query, idOne = 1,idTwo = 3)
            for r in result:
                dates.append(r["datetime"])
                
            if(dates[0] < dates[1]):
                violationCount += 1;
            result_as_list = result.fetchall()
        if(constraint.name.strip() == "ROOM_EXCLUSIVE"):
            sql_query = db.text("SELECT COUNT(DISTINCT exam_id) as exam_count FROM exam_room  WHERE room_id = (SELECT room_id FROM exam_room WHERE exam_id =:examId)")
            result = connection.execute(sql_query, examId = 1)
            for r in result:
#                 print(r["exam_count"])
                if(r["exam_count"] > 1):
                    violationCount += 1;

            
    return violationCount;

In [11]:
violationCount = isCurrentStateFeasible()
if(violationCount == 0):
    print("exam schedule meets hard constraints")
else:
    print(violationCount, "hard constraints have been violated")

2 hard constraints have been violated

In [12]:
def createCurrentSolution():
    view_query = db.text("CREATE OR REPLACE VIEW tempGen AS SELECT exam_period.exam_id, period_id, exam_room.room_id FROM exam_room INNER JOIN exam_period ON exam_room.exam_id = exam_period.exam_id")
    connection.execute(view_query)

In [13]:
createCurrentSolution()

In [14]:
def getCurrentExamSchedule(connection):
    sql_query = db.text("SELECT exam_id, period_id, room_id FROM tempGen")
    result = connection.execute(sql_query)
    df = pd.read_sql(sql_query,connection)
    return df

In [15]:
current_solution = getCurrentExamSchedule(connection)
current_solution

     exam_id  period_id  room_id
0          1          1        2
1          2          2        7
2          3          3        4
3          4          4        2
4          5          5        1
5          6          1        3
6          7          5        5
7          8          6        6
8          9          7        2
9         10          2        3
10        11          1        7
11        12          8        4
12        13          9        5
13        14         10        5
14        15         11        5
15        16         12        7
16        17         13        3
17        18         14        3
18        19          4        5
19        20         15        5
20        21         16        2
21        22         17        2
22        23         18        5
23        24         19        3
24        25         20        6
25        26         21        1
26        27         22        4
27        28         17        4
28        29         21        3
29        30          2        3
..       ...        ...      ...
577      578         17        7
578      579         28        4
579      580         40        5
580      581         32        7
581      582         22        3
582      583          9        4
583      584         27        3
584      585         52        3
585      586         35        1
586      587         43        1
587      588          3        4
588      589         35        7
589      590         18        1
590      591         13        5
591      592         54        7
592      593         15        4
593      594         49        3
594      595         48        4
595      596          7        1
596      597         19        1
597      598         10        7
598      599         27        7
599      600         18        3
600      601         47        1
601      602         41        4
602      603         26        7
603      604         19        1
604      605          8        3
605      606         52        6
606      607         53        1

[607 rows x 3 columns]

In [16]:
sql_query = db.text("select Count(student_id) as studentCount from ( select prev_exam, time, elapsed_time, exam_id from ( select time, elapsed_time, exam_id, lag(exam_id) over ( order by exam_id) prev_exam from ( select exam_id, time, time - lag(time) over ( order by time) elapsed_time from ( select exam_id, time from exam_period inner join period on exam_period.period_id = period.id) T order by time asc) T ) T where elapsed_time between '1 DAYS' and '2 DAYS') as exams inner join exam_student on exams.exam_id = exam_student.exam_id and exam_student.exam_id = exams.prev_exam")
connection.execute(sql_query)
result = connection.execute(sql_query)
result_as_list = result.fetchall()
print(result_as_list)

[(0,)]

In [17]:
sql_query = db.text("select Count(student_id) as studentCount from ( select prev_exam, time, elapsed_time, exam_id from ( select time, elapsed_time, exam_id, lag(exam_id) over ( order by exam_id) prev_exam from ( select exam_id, time, time - lag(time) over ( order by time) elapsed_time from ( select exam_id, time from exam_period inner join period on exam_period.period_id = period.id) T order by time asc) T ) T where elapsed_time between '60 MINUTES' and '90 MINUTES') as exams inner join exam_student on exams.exam_id = exam_student.exam_id and exam_student.exam_id = exams.prev_exam")
connection.execute(sql_query)
result = connection.execute(sql_query)
result_as_list = result.fetchall()
print(result_as_list)

[(0,)]

In [18]:
def generateSolution():
    view_query = db.text("CREATE OR REPLACE VIEW tempGen AS SELECT exam_period.exam_id, period_id, exam_room.room_id FROM exam_room INNER JOIN exam_period ON exam_room.exam_id = exam_period.exam_id ORDER BY random()");
    connection.execute(view_query)
    sql_query = db.text("SELECT * FROM tempGen")
    result = connection.execute(sql_query)
    df = pd.read_sql(sql_query,connection)
    return df

In [19]:
df = generateSolution()
df

     exam_id  period_id  room_id
0        473         44        4
1        543         53        4
2        569         13        1
3        140         50        6
4        153         22        5
5        249          8        2
6        265          7        6
7         80         41        7
8        587         43        1
9        483         12        2
10       393         35        5
11       235         16        1
12       553         48        1
13        85         14        5
14       273          9        3
15       437         46        2
16       128         43        6
17        52         26        1
18       405         30        2
19       320          8        6
20       211         16        7
21       421         47        6
22       293         26        2
23       108         46        5
24       485         53        6
25       593         15        4
26       323         40        7
27       493         31        2
28        84          2        2
29        29         21        3
..       ...        ...      ...
577      250         34        5
578        6          1        3
579      296         25        4
580      101         12        6
581      600         18        3
582      399         22        5
583      445         48        6
584      575         14        5
585      374         24        5
586       88         27        3
587       22         17        2
588      135         36        6
589      396         23        7
590      231         44        2
591      540         45        5
592      597         19        1
593      335         40        4
594      263          4        3
595      238         21        5
596      542         24        4
597      375         14        7
598       70         22        5
599      222          5        7
600      576         39        3
601      366         54        6
602      343         27        5
603      478         45        5
604      170          9        2
605      152         11        3
606       45         21        3

[607 rows x 3 columns]

In [ ]:
getCurrentExamSchedule() 
best_score = isCurrentStateFeasible()

# Hill-climbing

In [ ]:
iteration = 0
while True:
    print('Best score so far', best_score, 'Solution', "".join(best)) 
    print("iteartion:",iteration)
    if best_score == 0: 
        break

    generateSolution() 

    score = evaluate() 
    if score < best_score: 
        best = new_solution 
        best_score = score
    clear_output(wait=True)
    iteration += 1