In [76]:
import sqlalchemy as db
import pandas as pd
from sqlalchemy import Column, Integer, Text, ForeignKey,String
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [78]:
engine = db.create_engine('postgresql://postgres:password@localhost:5432/postgres')
connection = engine.connect()
meta = db.MetaData(connection)
Base = declarative_base()
Session = sessionmaker(bind = engine)
session = Session()

In [67]:
class Customer(Base):
   __tablename__ = 'customers'

   id = Column(Integer, primary_key = True)
   name = Column(String)
   address = Column(String)
   email = Column(String)

class Invoice(Base):
   __tablename__ = 'invoices'
   
   id = Column(Integer, primary_key = True)
   custid = Column(Integer, ForeignKey('customers.id'))
   invno = Column(Integer)
   amount = Column(Integer)
   customer = relationship("Customer", back_populates = "invoices")

Customer.invoices = relationship("Invoice", order_by = Invoice.id, back_populates = "customer")
Base.metadata.create_all(engine)

In [58]:
db.Table("students", meta,
                Column('id', Integer, primary_key=True),
                Column('number', Integer),
                Column('exams',Integer,ForeignKey('exams.id')),
                extend_existing=True)
meta.create_all()

In [59]:
db.Table("exams", meta,
                Column('id', Integer, primary_key=True),
                Column('duration', Integer),
                Column('students',Integer,ForeignKey('students.id')),
                extend_existing=True)
meta.create_all()

In [74]:
exams = db.Table('exams', metadata, autoload=True, autoload_with=engine)
students = db.Table('students', metadata, autoload=True, autoload_with=engine)
customers = db.Table('customers', metadata, autoload=True, autoload_with=engine)
invoices = db.Table('invoices', metadata, autoload=True, autoload_with=engine)

In [ ]:
engine.execute(invoices.delete())
engine.execute(exams.delete())
engine.execute(students.delete())
engine.execute(customers.delete())

In [23]:
query = db.select([exams]).where

In [24]:
ResultProxy = connection.execute(query)

In [25]:
ResultSet = ResultProxy.fetchall()

In [26]:
ResultSet[:3]

[]

In [81]:
c1 = Customer(name = "Gopal Krishna", address = "Bank Street Hydarebad", email = "gk@gmail.com")
c1.invoices = [Invoice(invno = 10, amount = 15000), Invoice(invno = 14, amount = 3850)]

In [82]:
session.add(c1)
session.commit()

In [83]:
rows = [
   Customer(
      name = "Govind Kala", 
      address = "Gulmandi Aurangabad", 
      email = "kala@gmail.com", 
      invoices = [Invoice(invno = 7, amount = 12000), Invoice(invno = 8, amount = 18500)]),

   Customer(
      name = "Abdul Rahman", 
      address = "Rohtak", 
      email = "abdulr@gmail.com",
      invoices = [Invoice(invno = 9, amount = 15000), 
      Invoice(invno = 11, amount = 6000)
   ])
]

session.add_all(rows)
session.commit()

In [28]:
query = db.insert(exams).values(id=1,duration=12)
ResultProxy = connection.execute(query)

In [104]:
results = connection.execute(db.select([exams])).fetchall()
df = pd.DataFrame(results)
df.columns = results[0].keys()
df.head(4)

   id  duration
0   1        12

In [108]:
result = session.query(Customer).join(Invoice).filter(Invoice.amount == 18500)

In [109]:
for row in result:
     for inv in row.invoices:
              print (row.id, row.name, inv.invno, inv.amount)

4 Govind Kala 7 12000
4 Govind Kala 8 18500