In [1]:
import sqlalchemy as db
import pandas as pd
from sqlalchemy import Column, Integer, Text, ForeignKey,String,Table, DateTime
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from datetime import datetime
import random

In [2]:
engine = db.create_engine('postgresql://postgres:password@localhost:5432/postgres')
connection = engine.connect()
meta = db.MetaData(connection)
Base = declarative_base()
Session = sessionmaker(bind = engine)
session = Session()

/Users/mac/opt/anaconda3/envs/examScheduling/lib/python3.5/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
association_table = Table('exam_student', Base.metadata,
    Column('id',db.Integer, primary_key=True),
    Column('exam_id', Integer, ForeignKey('exam.id',ondelete="cascade")),
    Column('student_id', Integer, ForeignKey('student.id',ondelete="cascade"))
)

association_two = Table('exam_period', Base.metadata,
    Column('id',db.Integer, primary_key=True),
    Column('exam_id', Integer, ForeignKey('exam.id',ondelete="cascade")),
    Column('period_id', Integer, ForeignKey('period.id',ondelete="cascade"))
)

association_three = Table('exam_room', Base.metadata,
    Column('id',db.Integer, primary_key=True),
    Column('exam_id', Integer, ForeignKey('exam.id',ondelete="cascade")),
    Column('room_id', Integer, ForeignKey('room.id',ondelete="cascade"))
)

class Exam(Base):
    __tablename__ = 'exam'

    id = Column(Integer, primary_key = True)
    duration = Column(Integer)
    students = relationship(
    "Student",
    secondary=association_table,
    back_populates="exams",
    cascade="all, delete", passive_deletes=True)
    periods = relationship(
    "Period",
    secondary=association_two,
    back_populates="exams",
    cascade="all, delete", passive_deletes=True)
    rooms = relationship(
    "Room",
    secondary=association_three,
    back_populates="exams",
    cascade="all, delete", passive_deletes=True)


    
class Student(Base):
    __tablename__ = 'student'

    id = Column(Integer, primary_key = True)
    #    examid = Column(Integer, ForeignKey('exams.id'))
    number = Column(Integer)
    #    exams = relationship(Exam,secondary='link')
    exams = relationship(
        "Exam",
        secondary=association_table,
        back_populates="students",
        cascade="all, delete", passive_deletes=True)


class Room(Base):
   __tablename__ = 'room'
   
   id = Column(Integer, primary_key = True)
   capacity = Column(Integer)
   penalty = Column(Integer)
   exams = relationship(
        "Exam",
        secondary=association_three,
        back_populates="rooms",
        cascade="all, delete", passive_deletes=True)


class Period(Base):
    __tablename__ = 'period'
    id = Column(Integer, primary_key = True)
    time = Column(DateTime)
    duration = Column(Integer)
    penalty = Column(Integer)
    exams = relationship(
        "Exam",
        secondary=association_two,
        back_populates="periods",
        cascade="all, delete", passive_deletes=True)

In [4]:
Base.metadata.create_all(engine)

In [5]:
# session.query(Room).delete()
# session.commit()

In [6]:
class Constraint:
    def __init__(self,ctype,name,periods):
        self.ctype = ctype
        self.name = name
        self.periods = periods

In [7]:
class SoftConstraint:
    def __init__(self,name,params):
        self.name = name
        self.params = params

In [8]:
roomRows = []
test = "test.exam"
sample_one ="./itc2007_dataset/exam_comp_set1.exam"
sample_two = "./itc2007_dataset/exam_comp_set3.exam"
with open(sample_two) as f:
     for line in f:
        if "Exams" in line:
            line = f.readline()
            lineType = "Exams"
        if "Periods" in line:
            line = f.readline()
            lineType = "Periods"
        if "Rooms" in line:
            line = f.readline()
            lineType = "Rooms"
        if "PeriodHardConstraints" in line:
            lineType = "PeriodHardConstraints"
            line = f.readline()
        if "RoomHardConstraints" in line:
            line = f.readline()
            lineType = "RoomHardConstraints"
        if "InstitutionalWeightings" in line:
            line = f.readline()
            lineType = "InstitutionalWeightings"
            
        if(lineType == 'Rooms'):
            arr = line.split(',')
            r1 = Room(capacity = arr[0],penalty = arr[1])
            roomRows.append(r1)
        
session.add_all(roomRows)
session.commit()

In [9]:
examRows =[]
periodRows = []
studentRows = []
# roomRows = []
students = []
constraints = []
softconstraints =[]
examcount = 0
periodcount = 0
roomcount = 0
lineType = ""
with open(sample_two) as f:
     for line in f:
        if "Exams" in line:
            line = f.readline()
            lineType = "Exams"
        if "Periods" in line:
            line = f.readline()
            lineType = "Periods"
        if "Rooms" in line:
            line = f.readline()
            lineType = "Rooms"
        if "PeriodHardConstraints" in line:
            lineType = "PeriodHardConstraints"
            line = f.readline()
        if "RoomHardConstraints" in line:
            line = f.readline()
            lineType = "RoomHardConstraints"
        if "InstitutionalWeightings" in line:
            line = f.readline()
            lineType = "InstitutionalWeightings"
        
        
        if(lineType == 'Periods'):
            arr = line.split(',')
            dateTime = arr[0] + arr[1]
            p1 = Period(time = datetime.strptime(dateTime,'%d:%m:%Y %H:%M:%S'),duration = arr[2],penalty = arr[3])
            periodRows.append(p1)
        
        if(lineType == 'PeriodHardConstraints'):
            arr = line.split(',')
            print("period",arr)
            c1 = Constraint("period",name =arr[1].strip(),periods = [int(arr[0].strip()) + 1, int(arr[2].strip()) + 1])
            constraints.append(c1)

        if(lineType == 'RoomHardConstraints'):
            arr = line.split(',')
            print("room",arr)
            if len(arr) > 1 :
                c1 = Constraint("room",name = arr[1].strip(),periods = [int(arr[0].strip())+1])
                constraints.append(c1)
            else:
                c1 = Constraint("room",name = arr[0].strip(),periods = None)
                constraints.append(c1)
        if(lineType == "InstitutionalWeightings"):
            arr = [x.strip() for x in line.split(',')]
            print(arr)
            sc1 = SoftConstraint(name = arr[0],params = [int(i) for i in arr[1:]])
            softconstraints.append(sc1)
                 
        if(lineType == 'Exams'):
            arr = line.split(',')
            examRows.append(Exam(duration = int(arr[0])))
            examRows[examcount].rooms.append(roomRows[random.randint(0,len(roomRows)-1)])
        
            for no in arr[1:]:
                no = no.strip()
                no = int(no)
                if no not in students:
                    students.append(int(no))
                    tempStudent = Student(number = int(no))
                    studentRows.append(tempStudent)
                if no in students:
                    studentRows[students.index(no)].exams.append(examRows[examcount])
#                     examRows[examcount].students.append(studentRows[students.index(no)])
            examcount += 1
        
session.add_all(examRows)
session.add_all(studentRows)
session.add_all(roomRows)
session.commit()

period ['4', ' EXAM_COINCIDENCE', ' 5\n']
period ['5', ' EXAM_COINCIDENCE', ' 4\n']
period ['35', ' EXAM_COINCIDENCE', ' 142\n']
period ['43', ' EXAM_COINCIDENCE', ' 143\n']
period ['44', ' EXAM_COINCIDENCE', ' 141\n']
period ['73', ' EXAM_COINCIDENCE', ' 81\n']
period ['81', ' EXAM_COINCIDENCE', ' 73\n']
period ['91', ' EXAM_COINCIDENCE', ' 135\n']
period ['94', ' EXAM_COINCIDENCE', ' 138\n']
period ['95', ' EXAM_COINCIDENCE', ' 144\n']
period ['101', ' EXAM_COINCIDENCE', ' 140\n']
period ['115', ' EXAM_COINCIDENCE', ' 133\n']
period ['116', ' EXAM_COINCIDENCE', ' 137\n']
period ['133', ' EXAM_COINCIDENCE', ' 115\n']
period ['135', ' EXAM_COINCIDENCE', ' 91\n']
period ['137', ' EXAM_COINCIDENCE', ' 116\n']
period ['138', ' EXAM_COINCIDENCE', ' 94\n']
period ['140', ' EXAM_COINCIDENCE', ' 101\n']
period ['141', ' EXAM_COINCIDENCE', ' 44\n']
period ['142', ' EXAM_COINCIDENCE', ' 35\n']
period ['143', ' EXAM_COINCIDENCE', ' 43\n']
period ['144', ' EXAM_COINCIDENCE', ' 95\n']
period ['162', ' EXAM_COINCIDENCE', ' 164\n']
period ['162', ' EXAM_COINCIDENCE', ' 172\n']
period ['164', ' EXAM_COINCIDENCE', ' 162\n']
period ['164', ' EXAM_COINCIDENCE', ' 172\n']
period ['168', ' EXAM_COINCIDENCE', ' 170\n']
period ['170', ' EXAM_COINCIDENCE', ' 168\n']
period ['172', ' EXAM_COINCIDENCE', ' 162\n']
period ['172', ' EXAM_COINCIDENCE', ' 164\n']
period ['176', ' EXAM_COINCIDENCE', ' 179\n']
period ['179', ' EXAM_COINCIDENCE', ' 176\n']
period ['207', ' EXAM_COINCIDENCE', ' 248\n']
period ['208', ' EXAM_COINCIDENCE', ' 249\n']
period ['210', ' EXAM_COINCIDENCE', ' 250\n']
period ['211', ' EXAM_COINCIDENCE', ' 251\n']
period ['213', ' EXAM_COINCIDENCE', ' 252\n']
period ['214', ' EXAM_COINCIDENCE', ' 253\n']
period ['216', ' EXAM_COINCIDENCE', ' 254\n']
period ['218', ' EXAM_COINCIDENCE', ' 219\n']
period ['219', ' EXAM_COINCIDENCE', ' 218\n']
period ['221', ' EXAM_COINCIDENCE', ' 222\n']
period ['222', ' EXAM_COINCIDENCE', ' 221\n']
period ['223', ' EXAM_COINCIDENCE', ' 224\n']
period ['224', ' EXAM_COINCIDENCE', ' 223\n']
period ['233', ' EXAM_COINCIDENCE', ' 234\n']
period ['234', ' EXAM_COINCIDENCE', ' 233\n']
period ['235', ' EXAM_COINCIDENCE', ' 236\n']
period ['236', ' EXAM_COINCIDENCE', ' 235\n']
period ['239', ' EXAM_COINCIDENCE', ' 240\n']
period ['240', ' EXAM_COINCIDENCE', ' 239\n']
period ['244', ' EXAM_COINCIDENCE', ' 245\n']
period ['245', ' EXAM_COINCIDENCE', ' 244\n']
period ['248', ' EXAM_COINCIDENCE', ' 207\n']
period ['249', ' EXAM_COINCIDENCE', ' 208\n']
period ['250', ' EXAM_COINCIDENCE', ' 210\n']
period ['251', ' EXAM_COINCIDENCE', ' 211\n']
period ['252', ' EXAM_COINCIDENCE', ' 213\n']
period ['253', ' EXAM_COINCIDENCE', ' 214\n']
period ['254', ' EXAM_COINCIDENCE', ' 216\n']
period ['261', ' EXAM_COINCIDENCE', ' 279\n']
period ['262', ' EXAM_COINCIDENCE', ' 276\n']
period ['276', ' EXAM_COINCIDENCE', ' 262\n']
period ['279', ' EXAM_COINCIDENCE', ' 261\n']
period ['290', ' EXAM_COINCIDENCE', ' 297\n']
period ['297', ' EXAM_COINCIDENCE', ' 290\n']
period ['315', ' EXAM_COINCIDENCE', ' 331\n']
period ['327', ' EXAM_COINCIDENCE', ' 329\n']
period ['327', ' EXAM_COINCIDENCE', ' 341\n']
period ['329', ' EXAM_COINCIDENCE', ' 327\n']
period ['329', ' EXAM_COINCIDENCE', ' 341\n']
period ['331', ' EXAM_COINCIDENCE', ' 315\n']
period ['333', ' EXAM_COINCIDENCE', ' 334\n']
period ['334', ' EXAM_COINCIDENCE', ' 333\n']
period ['341', ' EXAM_COINCIDENCE', ' 327\n']
period ['341', ' EXAM_COINCIDENCE', ' 329\n']
period ['362', ' EXAM_COINCIDENCE', ' 369\n']
period ['365', ' EXAM_COINCIDENCE', ' 370\n']
period ['369', ' EXAM_COINCIDENCE', ' 362\n']
period ['370', ' EXAM_COINCIDENCE', ' 365\n']
period ['377', ' EXAM_COINCIDENCE', ' 387\n']
period ['383', ' EXAM_COINCIDENCE', ' 384\n']
period ['384', ' EXAM_COINCIDENCE', ' 383\n']
period ['385', ' EXAM_COINCIDENCE', ' 388\n']
period ['387', ' EXAM_COINCIDENCE', ' 377\n']
period ['388', ' EXAM_COINCIDENCE', ' 385\n']
period ['392', ' EXAM_COINCIDENCE', ' 398\n']
period ['393', ' EXAM_COINCIDENCE', ' 402\n']
period ['398', ' EXAM_COINCIDENCE', ' 392\n']
period ['402', ' EXAM_COINCIDENCE', ' 393\n']
period ['403', ' EXAM_COINCIDENCE', ' 407\n']
period ['407', ' EXAM_COINCIDENCE', ' 403\n']
period ['415', ' EXAM_COINCIDENCE', ' 416\n']
period ['416', ' EXAM_COINCIDENCE', ' 415\n']
period ['457', ' EXAM_COINCIDENCE', ' 458\n']
period ['458', ' EXAM_COINCIDENCE', ' 457\n']
period ['484', ' EXAM_COINCIDENCE', ' 485\n']
period ['484', ' EXAM_COINCIDENCE', ' 486\n']
period ['484', ' EXAM_COINCIDENCE', ' 487\n']
period ['485', ' EXAM_COINCIDENCE', ' 484\n']
period ['485', ' EXAM_COINCIDENCE', ' 486\n']
period ['485', ' EXAM_COINCIDENCE', ' 487\n']
period ['486', ' EXAM_COINCIDENCE', ' 484\n']
period ['486', ' EXAM_COINCIDENCE', ' 485\n']
period ['486', ' EXAM_COINCIDENCE', ' 487\n']
period ['487', ' EXAM_COINCIDENCE', ' 484\n']
period ['487', ' EXAM_COINCIDENCE', ' 485\n']
period ['487', ' EXAM_COINCIDENCE', ' 486\n']
period ['517', ' EXAM_COINCIDENCE', ' 523\n']
period ['518', ' EXAM_COINCIDENCE', ' 524\n']
period ['519', ' EXAM_COINCIDENCE', ' 520\n']
period ['520', ' EXAM_COINCIDENCE', ' 519\n']
period ['521', ' EXAM_COINCIDENCE', ' 522\n']
period ['522', ' EXAM_COINCIDENCE', ' 521\n']
period ['523', ' EXAM_COINCIDENCE', ' 517\n']
period ['524', ' EXAM_COINCIDENCE', ' 518\n']
period ['525', ' EXAM_COINCIDENCE', ' 526\n']
period ['526', ' EXAM_COINCIDENCE', ' 525\n']
period ['527', ' EXAM_COINCIDENCE', ' 528\n']
period ['528', ' EXAM_COINCIDENCE', ' 527\n']
period ['529', ' EXAM_COINCIDENCE', ' 530\n']
period ['530', ' EXAM_COINCIDENCE', ' 529\n']
period ['534', ' EXAM_COINCIDENCE', ' 535\n']
period ['535', ' EXAM_COINCIDENCE', ' 534\n']
period ['536', ' EXAM_COINCIDENCE', ' 537\n']
period ['537', ' EXAM_COINCIDENCE', ' 536\n']
period ['552', ' EXAM_COINCIDENCE', ' 583\n']
period ['552', ' EXAM_COINCIDENCE', ' 584\n']
period ['553', ' EXAM_COINCIDENCE', ' 554\n']
period ['554', ' EXAM_COINCIDENCE', ' 553\n']
period ['583', ' EXAM_COINCIDENCE', ' 552\n']
period ['583', ' EXAM_COINCIDENCE', ' 584\n']
period ['584', ' EXAM_COINCIDENCE', ' 552\n']
period ['584', ' EXAM_COINCIDENCE', ' 583\n']
period ['590', ' EXAM_COINCIDENCE', ' 592\n']
period ['592', ' EXAM_COINCIDENCE', ' 590\n']
period ['601', ' EXAM_COINCIDENCE', ' 602\n']
period ['602', ' EXAM_COINCIDENCE', ' 601\n']
period ['623', ' EXAM_COINCIDENCE', ' 668\n']
period ['649', ' EXAM_COINCIDENCE', ' 664\n']
period ['664', ' EXAM_COINCIDENCE', ' 649\n']
period ['668', ' EXAM_COINCIDENCE', ' 623\n']
period ['671', ' EXAM_COINCIDENCE', ' 686\n']
period ['676', ' EXAM_COINCIDENCE', ' 677\n']
period ['677', ' EXAM_COINCIDENCE', ' 676\n']
period ['686', ' EXAM_COINCIDENCE', ' 671\n']
period ['686', ' EXAM_COINCIDENCE', ' 686\n']
period ['692', ' EXAM_COINCIDENCE', ' 700\n']
period ['700', ' EXAM_COINCIDENCE', ' 692\n']
period ['713', ' EXAM_COINCIDENCE', ' 714\n']
period ['714', ' EXAM_COINCIDENCE', ' 713\n']
period ['715', ' EXAM_COINCIDENCE', ' 721\n']
period ['716', ' EXAM_COINCIDENCE', ' 722\n']
period ['718', ' EXAM_COINCIDENCE', ' 728\n']
period ['719', ' EXAM_COINCIDENCE', ' 725\n']
period ['720', ' EXAM_COINCIDENCE', ' 726\n']
period ['721', ' EXAM_COINCIDENCE', ' 715\n']
period ['722', ' EXAM_COINCIDENCE', ' 716\n']
period ['725', ' EXAM_COINCIDENCE', ' 719\n']
period ['726', ' EXAM_COINCIDENCE', ' 720\n']
period ['728', ' EXAM_COINCIDENCE', ' 718\n']
period ['798', ' EXCLUSION', ' 801\n']
period ['801', ' EXCLUSION', ' 798\n']
period ['817', ' AFTER', ' 816\n']
period ['817', ' AFTER', ' 816\n']
period ['822', ' EXAM_COINCIDENCE', ' 836\n']
period ['836', ' EXAM_COINCIDENCE', ' 822\n']
period ['909', ' EXAM_COINCIDENCE', ' 909\n']
period ['911', ' EXAM_COINCIDENCE', ' 912\n']
period ['912', ' EXAM_COINCIDENCE', ' 911\n']
room ['22', ' ROOM_EXCLUSIVE\n']
room ['555', ' ROOM_EXCLUSIVE\n']
room ['591', ' ROOM_EXCLUSIVE\n']
room ['868', ' ROOM_EXCLUSIVE\n']
room ['869', ' ROOM_EXCLUSIVE\n']
room ['870', ' ROOM_EXCLUSIVE\n']
room ['873', ' ROOM_EXCLUSIVE\n']
room ['874', ' ROOM_EXCLUSIVE\n']
room ['875', ' ROOM_EXCLUSIVE\n']
room ['876', ' ROOM_EXCLUSIVE\n']
room ['877', ' ROOM_EXCLUSIVE\n']
room ['878', ' ROOM_EXCLUSIVE\n']
room ['879', ' ROOM_EXCLUSIVE\n']
room ['925', ' ROOM_EXCLUSIVE\n']
room ['926', ' ROOM_EXCLUSIVE\n']
['TWOINAROW', '15']
['TWOINADAY', '10']
['PERIODSPREAD', '4']
['NONMIXEDDURATIONS', '20']
['FRONTLOAD', '200', '20', '10']

In [10]:
for constraint in constraints:
    print(constraint.name, constraint.periods)

EXAM_COINCIDENCE [5, 6]
EXAM_COINCIDENCE [6, 5]
EXAM_COINCIDENCE [36, 143]
EXAM_COINCIDENCE [44, 144]
EXAM_COINCIDENCE [45, 142]
EXAM_COINCIDENCE [74, 82]
EXAM_COINCIDENCE [82, 74]
EXAM_COINCIDENCE [92, 136]
EXAM_COINCIDENCE [95, 139]
EXAM_COINCIDENCE [96, 145]
EXAM_COINCIDENCE [102, 141]
EXAM_COINCIDENCE [116, 134]
EXAM_COINCIDENCE [117, 138]
EXAM_COINCIDENCE [134, 116]
EXAM_COINCIDENCE [136, 92]
EXAM_COINCIDENCE [138, 117]
EXAM_COINCIDENCE [139, 95]
EXAM_COINCIDENCE [141, 102]
EXAM_COINCIDENCE [142, 45]
EXAM_COINCIDENCE [143, 36]
EXAM_COINCIDENCE [144, 44]
EXAM_COINCIDENCE [145, 96]
EXAM_COINCIDENCE [163, 165]
EXAM_COINCIDENCE [163, 173]
EXAM_COINCIDENCE [165, 163]
EXAM_COINCIDENCE [165, 173]
EXAM_COINCIDENCE [169, 171]
EXAM_COINCIDENCE [171, 169]
EXAM_COINCIDENCE [173, 163]
EXAM_COINCIDENCE [173, 165]
EXAM_COINCIDENCE [177, 180]
EXAM_COINCIDENCE [180, 177]
EXAM_COINCIDENCE [208, 249]
EXAM_COINCIDENCE [209, 250]
EXAM_COINCIDENCE [211, 251]
EXAM_COINCIDENCE [212, 252]
EXAM_COINCIDENCE [214, 253]
EXAM_COINCIDENCE [215, 254]
EXAM_COINCIDENCE [217, 255]
EXAM_COINCIDENCE [219, 220]
EXAM_COINCIDENCE [220, 219]
EXAM_COINCIDENCE [222, 223]
EXAM_COINCIDENCE [223, 222]
EXAM_COINCIDENCE [224, 225]
EXAM_COINCIDENCE [225, 224]
EXAM_COINCIDENCE [234, 235]
EXAM_COINCIDENCE [235, 234]
EXAM_COINCIDENCE [236, 237]
EXAM_COINCIDENCE [237, 236]
EXAM_COINCIDENCE [240, 241]
EXAM_COINCIDENCE [241, 240]
EXAM_COINCIDENCE [245, 246]
EXAM_COINCIDENCE [246, 245]
EXAM_COINCIDENCE [249, 208]
EXAM_COINCIDENCE [250, 209]
EXAM_COINCIDENCE [251, 211]
EXAM_COINCIDENCE [252, 212]
EXAM_COINCIDENCE [253, 214]
EXAM_COINCIDENCE [254, 215]
EXAM_COINCIDENCE [255, 217]
EXAM_COINCIDENCE [262, 280]
EXAM_COINCIDENCE [263, 277]
EXAM_COINCIDENCE [277, 263]
EXAM_COINCIDENCE [280, 262]
EXAM_COINCIDENCE [291, 298]
EXAM_COINCIDENCE [298, 291]
EXAM_COINCIDENCE [316, 332]
EXAM_COINCIDENCE [328, 330]
EXAM_COINCIDENCE [328, 342]
EXAM_COINCIDENCE [330, 328]
EXAM_COINCIDENCE [330, 342]
EXAM_COINCIDENCE [332, 316]
EXAM_COINCIDENCE [334, 335]
EXAM_COINCIDENCE [335, 334]
EXAM_COINCIDENCE [342, 328]
EXAM_COINCIDENCE [342, 330]
EXAM_COINCIDENCE [363, 370]
EXAM_COINCIDENCE [366, 371]
EXAM_COINCIDENCE [370, 363]
EXAM_COINCIDENCE [371, 366]
EXAM_COINCIDENCE [378, 388]
EXAM_COINCIDENCE [384, 385]
EXAM_COINCIDENCE [385, 384]
EXAM_COINCIDENCE [386, 389]
EXAM_COINCIDENCE [388, 378]
EXAM_COINCIDENCE [389, 386]
EXAM_COINCIDENCE [393, 399]
EXAM_COINCIDENCE [394, 403]
EXAM_COINCIDENCE [399, 393]
EXAM_COINCIDENCE [403, 394]
EXAM_COINCIDENCE [404, 408]
EXAM_COINCIDENCE [408, 404]
EXAM_COINCIDENCE [416, 417]
EXAM_COINCIDENCE [417, 416]
EXAM_COINCIDENCE [458, 459]
EXAM_COINCIDENCE [459, 458]
EXAM_COINCIDENCE [485, 486]
EXAM_COINCIDENCE [485, 487]
EXAM_COINCIDENCE [485, 488]
EXAM_COINCIDENCE [486, 485]
EXAM_COINCIDENCE [486, 487]
EXAM_COINCIDENCE [486, 488]
EXAM_COINCIDENCE [487, 485]
EXAM_COINCIDENCE [487, 486]
EXAM_COINCIDENCE [487, 488]
EXAM_COINCIDENCE [488, 485]
EXAM_COINCIDENCE [488, 486]
EXAM_COINCIDENCE [488, 487]
EXAM_COINCIDENCE [518, 524]
EXAM_COINCIDENCE [519, 525]
EXAM_COINCIDENCE [520, 521]
EXAM_COINCIDENCE [521, 520]
EXAM_COINCIDENCE [522, 523]
EXAM_COINCIDENCE [523, 522]
EXAM_COINCIDENCE [524, 518]
EXAM_COINCIDENCE [525, 519]
EXAM_COINCIDENCE [526, 527]
EXAM_COINCIDENCE [527, 526]
EXAM_COINCIDENCE [528, 529]
EXAM_COINCIDENCE [529, 528]
EXAM_COINCIDENCE [530, 531]
EXAM_COINCIDENCE [531, 530]
EXAM_COINCIDENCE [535, 536]
EXAM_COINCIDENCE [536, 535]
EXAM_COINCIDENCE [537, 538]
EXAM_COINCIDENCE [538, 537]
EXAM_COINCIDENCE [553, 584]
EXAM_COINCIDENCE [553, 585]
EXAM_COINCIDENCE [554, 555]
EXAM_COINCIDENCE [555, 554]
EXAM_COINCIDENCE [584, 553]
EXAM_COINCIDENCE [584, 585]
EXAM_COINCIDENCE [585, 553]
EXAM_COINCIDENCE [585, 584]
EXAM_COINCIDENCE [591, 593]
EXAM_COINCIDENCE [593, 591]
EXAM_COINCIDENCE [602, 603]
EXAM_COINCIDENCE [603, 602]
EXAM_COINCIDENCE [624, 669]
EXAM_COINCIDENCE [650, 665]
EXAM_COINCIDENCE [665, 650]
EXAM_COINCIDENCE [669, 624]
EXAM_COINCIDENCE [672, 687]
EXAM_COINCIDENCE [677, 678]
EXAM_COINCIDENCE [678, 677]
EXAM_COINCIDENCE [687, 672]
EXAM_COINCIDENCE [687, 687]
EXAM_COINCIDENCE [693, 701]
EXAM_COINCIDENCE [701, 693]
EXAM_COINCIDENCE [714, 715]
EXAM_COINCIDENCE [715, 714]
EXAM_COINCIDENCE [716, 722]
EXAM_COINCIDENCE [717, 723]
EXAM_COINCIDENCE [719, 729]
EXAM_COINCIDENCE [720, 726]
EXAM_COINCIDENCE [721, 727]
EXAM_COINCIDENCE [722, 716]
EXAM_COINCIDENCE [723, 717]
EXAM_COINCIDENCE [726, 720]
EXAM_COINCIDENCE [727, 721]
EXAM_COINCIDENCE [729, 719]
EXCLUSION [799, 802]
EXCLUSION [802, 799]
AFTER [818, 817]
AFTER [818, 817]
EXAM_COINCIDENCE [823, 837]
EXAM_COINCIDENCE [837, 823]
EXAM_COINCIDENCE [910, 910]
EXAM_COINCIDENCE [912, 913]
EXAM_COINCIDENCE [913, 912]
ROOM_EXCLUSIVE [23]
ROOM_EXCLUSIVE [556]
ROOM_EXCLUSIVE [592]
ROOM_EXCLUSIVE [869]
ROOM_EXCLUSIVE [870]
ROOM_EXCLUSIVE [871]
ROOM_EXCLUSIVE [874]
ROOM_EXCLUSIVE [875]
ROOM_EXCLUSIVE [876]
ROOM_EXCLUSIVE [877]
ROOM_EXCLUSIVE [878]
ROOM_EXCLUSIVE [879]
ROOM_EXCLUSIVE [880]
ROOM_EXCLUSIVE [926]
ROOM_EXCLUSIVE [927]

In [11]:
def allocatePeriods():
    for exam in examRows:
        randomIndex = random.randint(0,len(periodRows)-1)
        exam.periods.append(periodRows[randomIndex])
        
    session.add_all(examRows)
    session.commit()

In [12]:
allocatePeriods()

In [13]:
for cons in softconstraints:
    print(cons.name)
    print(cons.params)

TWOINAROW
[15]
TWOINADAY
[10]
PERIODSPREAD
[4]
NONMIXEDDURATIONS
[20]
FRONTLOAD
[200, 20, 10]

In [14]:
# for x in session.query( Exam, Student).filter(Link.student_id == Student.id, 
#    Link.exam_id == Exam.id).order_by(Link.exam_id).all():
#    print ("Exam: {} Student: {}".format(x.Exam.duration, x.Student.number))

In [15]:
# SELECT Count(student_id) as amount from link where student_id =1;

# select student_id, Count(student_id) as amount from link group by student_id order by amount desc;

# select exam_id, Count(exam_id) as amount from link group by exam_id order by amount desc;

In [16]:
#check hard constraints:
    #2, EXAM_COINCIDENCE, 3
    #exam 2 and 3 should be in the same period:
    
    #select count(distinct period_id) as periods from  (select period_id from exam_period where exam_id=1 or exam_id = 2) T;
    # if returned value is higher than 1 then constraint is violated
    
    #1, EXCLUSION, 5
    #exam 1 and 5 should not be in the same period:
    
    #select count(distinct period_id) as periods from  (select period_id from exam_period where exam_id=1 or exam_id = 2) T;
    #if returned value is less than 2 then constraint is violated
    
    #0, AFTER, 9
    # 0 should be timetabled after 9 
    
    #select exam_id, period_date from (select exam_id, date as period_date from exam_period inner join period on exam_period.period_id = period.id) as T where exam_id = 1 or exam_id = 2 order by exam_id;
    
    #if the first returned value is greate than the second the constraint is violated
    
    
    #9, ROOM_EXCLUSIVE
    # exam 9 should be the only exam scheduled in a room

    # select count(distinct exam_id) from exam_room  where room_id = (select room_id from exam_room where exam_id = 1);
    
    #if count returned is greater than 1 the constraint is violated

In [17]:
#Like other areas of timetabling, a feasible solution is one in which all hard constraints are satisfied.
# The quality of the solution is measures in terms of soft constraints satisfaction.

In [18]:
def createCurrentSolution():
    view_query = db.text("CREATE OR REPLACE VIEW tempGen AS SELECT exam_period.exam_id, period_id, exam_room.room_id FROM exam_room INNER JOIN exam_period ON exam_room.exam_id = exam_period.exam_id")
    connection.execute(view_query)

In [19]:
createCurrentSolution()

In [41]:
violations =[]
def isCurrentStateFeasible():
    dates = []
    violationCount = 0
    for constraint in constraints:
        #2, EXAM_COINCIDENCE, 3
        #exam 2 and 3 should be in the same period:
        if(constraint.name == "EXAM_COINCIDENCE"):
            sql_query = db.text("SELECT COUNT(DISTINCT period_id) as periods from  (SELECT period_id FROM tempgen WHERE exam_id=:idOne OR exam_id =:idTwo) T")
            result = connection.execute(sql_query, idOne = constraint.periods[0],idTwo = constraint.periods[1])
            for r in result:
#                 print(r[0])
                if(r[0] > 1):
                    violationCount += 1
                    violations.append(constraint)
        #1, EXCLUSION, 5
        #exam 1 and 5 should not be in the same period:
        if(constraint.name == "EXCLUSION"):
            sql_query = db.text("SELECT COUNT(DISTINCT period_id) as periods from  (SELECT period_id FROM tempgen WHERE exam_id=:idOne OR exam_id =:idTwo) T")
            result = connection.execute(sql_query, idOne = constraint.periods[0],idTwo = constraint.periods[1])
            for r in result:
#                 print(r[0])
                if(r[0] < 2):
                    violationCount += 1
                    violations.append(constraint)
        #0, AFTER, 9
        # 0 should be timetabled after 9 
        if(constraint.name == "AFTER"):
            sql_query = db.text("SELECT exam_id, datetime FROM (SELECT exam_id, time as datetime FROM tempgen INNER JOIN period ON tempgen.period_id = period.id) AS T WHERE exam_id =:idOne OR exam_id =:idTwo ORDER BY exam_id")
            result = connection.execute(sql_query, idOne = constraint.periods[0],idTwo = constraint.periods[1])
            for r in result:
                dates.append(r["datetime"])
            
            if(dates[0] < dates[1]):
                violationCount += 1;
            result_as_list = result.fetchall()
        #9, ROOM_EXCLUSIVE
        # exam 9 should be the only exam scheduled in a room
        if(constraint.name.strip() == "ROOM_EXCLUSIVE"):
            sql_query = db.text("SELECT COUNT(DISTINCT exam_id) as exam_count FROM tempgen WHERE room_id = (SELECT room_id FROM tempgen WHERE exam_id =1) and period_id = (SELECT period_id FROM tempgen WHERE exam_id =:examId)")
            result = connection.execute(sql_query, examId = constraint.periods[0])
            for r in result:
#                 print(r["exam_count"])
                if(r["exam_count"] > 1):
                    violationCount += 1
                    violations.append(constraint)
            

            
    return violationCount;

In [42]:
violationCount = isCurrentStateFeasible()
if(violationCount == 0):
    print("exam schedule meets hard constraints")
else:
    print(violationCount, "hard constraints have been violated")

158 hard constraints have been violated

In [46]:
for violation in violations:
    if(violation.name == "EXAM_COINCIDENCE"):
        sql_query = db.text("update exam_period set period_id = (select period_id from exam_period where exam_id = :examOne) where exam_id = :examTwo")
        result = connection.execute(sql_query, examOne = violation.periods[0], examTwo = violation.periods[1])
        
    print(violation.name)
    print(violation.periods)

SyntaxError: invalid syntax (<ipython-input-46-11707066bcab>, line 4)

In [25]:
def getCurrentExamSchedule(connection):
    sql_query = db.text("SELECT exam_id, period_id, room_id FROM tempGen order by exam_id")
    result = connection.execute(sql_query)
    df = pd.read_sql(sql_query,connection)
    return df

In [26]:
current_solution = getCurrentExamSchedule(connection)
current_solution.head()

   exam_id  period_id  room_id
0        1          1       25
1        2          2       26
2        3          3       12
3        4          4       15
4        5          5       40

In [27]:
def getCurrentScore():
    runningScore = 0
    for cons in softconstraints:
        if(cons.name == "TWOINAROW"):
            sql_query = db.text("select Count(student_id) as studentCount from ( select prev_exam, time, elapsed_time, exam_id from ( select time, elapsed_time, exam_id, lag(exam_id) over ( order by exam_id) prev_exam from ( select exam_id, time, time - lag(time) over ( order by time) elapsed_time from ( select exam_id, time from tempgen inner join period on tempgen.period_id = period.id) T order by time asc) T ) T where elapsed_time between '60 MINUTES' and '90 MINUTES') as exams inner join exam_student on exams.exam_id = exam_student.exam_id and exam_student.exam_id = exams.prev_exam")
            studentCount = connection.execute(sql_query).fetchone()[0]
            runningScore += studentCount * cons.params[0]
        if(cons.name == "TWOINADAY"):
            sql_query = db.text("select Count(student_id) as studentCount from ( select prev_exam, time, elapsed_time, exam_id from ( select time, elapsed_time, exam_id, lag(exam_id) over ( order by exam_id) prev_exam from ( select exam_id, time, time - lag(time) over ( order by time) elapsed_time from ( select exam_id, time from tempgen inner join period on tempgen.period_id = period.id) T order by time asc) T ) T where elapsed_time between '1 DAYS' and '2 DAYS') as exams inner join exam_student on exams.exam_id = exam_student.exam_id and exam_student.exam_id = exams.prev_exam")
            studentCount = connection.execute(sql_query).first()[0]
            runningScore += studentCount * cons.params[0]
        if(cons.name == "NOMIXEDDURATIONS"):
            sql_query = db.text("select sum(durations) as totalMixed from (SELECT period_id, count(distinct duration) as durations FROM ( select period_id, exam_id, duration, room_id from ( select tempgen.exam_id, tempgen.room_id, period_id from tempgen inner join exam_room on tempgen.exam_id = exam_room.exam_id order by period_id) as examrooms inner join exam on examrooms.exam_id = exam.id) T GROUP BY period_id HAVING COUNT(DISTINCT duration) > 1) T");
            mixedCount = connection.execute(sql_query).fetchone()[0]
            runningScore += mixedCount * cons.params[0]
        
    return runningScore
    
    

# if(cons.name == "PERIODSPREAD"):         
#         if(cons.name == "FRONTLOAD"):
            
  
        
        
# TWOINAROW
# [7]
# TWOINADAY
# [5]
# PERIODSPREAD
# [2, 20]
# PERIODSPREAD
# [5, 2]
# NOMIXEDDURATIONS
# [10]
# FRONTLOAD
# [1, 5, 10]

In [28]:
print(getCurrentScore())

0

In [40]:
def generateSolution():
    view_query = db.text("CREATE OR REPLACE VIEW tempGen AS SELECT exam_period.exam_id, period_id, exam_room.room_id FROM exam_room INNER JOIN exam_period ON exam_room.exam_id = exam_period.exam_id ORDER BY exam_id");
    connection.execute(view_query)
    sql_query = db.text("SELECT * FROM tempGen")
    result = connection.execute(sql_query)
    df = pd.read_sql(sql_query,connection)
    return df

In [30]:
df = generateSolution()
print( "violation count:",isCurrentStateFeasible())
df.head()

violation count: 166

   exam_id  period_id  room_id
0        1          1       25
1        2          2       26
2        3          3       12
3        4          4       15
4        5          5       40

In [32]:
exams_with_most_students =[]
earliest_periods = []
sql_query = db.text("select exam_id,duration,count from (select exam_id, count(student_id), duration from exam_student  inner join exam on exam_student.exam_id  = exam.id group by exam_id, duration) T order by count desc")
results = connection.execute(sql_query).fetchall()
for res in results:
      exams_with_most_students.append(res[0])
    
sql_query = db.text("select * from period order by time asc")
results = connection.execute(sql_query).fetchall()

for res in results:
    earliest_periods.append(res[0])
    
    


#this low level heurisitic assigns the periods that occur the first to exams with the most students
periodIndex = 0
for examId in exams_with_most_students:
#     print(earliest_periods[periodIndex])
    periodId = earliest_periods[periodIndex]
    sql_query = db.text("update exam_period  set period_id = :periodId  where exam_id = :examId")
    result = connection.execute(sql_query, periodId = periodId,examId = examId)
    periodIndex += 1
  
    if (periodIndex +1 > len(earliest_periods)):
#         print("setting back to zero")
        periodIndex = 0

In [33]:
print( "violation count:",isCurrentStateFeasible())

violation count: 160

In [ ]:
getCurrentExamSchedule() 
best_score = isCurrentStateFeasible()

# Hill-climbing

In [ ]:
iteration = 0
while True:
    print('Best score so far', best_score, 'Solution', "".join(best)) 
    print("iteartion:",iteration)
    if best_score == 0: 
        break

    generateSolution() 

    score = evaluate() 
    if score < best_score: 
        best = new_solution 
        best_score = score
    clear_output(wait=True)
    iteration += 1